.oswald {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
  
  .roboto-condensed {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  
  .sigmar {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
}
  