@import "tailwindcss";

@theme {
    --color-site-bg: #ededed;
    --color-primary: #082141;
    --color-secondary: #0d3c76;
    --color-accent: #f99b1c;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  